{{> layout/head}}
{{> layout/navbar}}
<main class="main content-container content-container--right post">
   {{#post}}
      <article class="content">
         <header class="content__header{{#if @config.custom.animation}} anim-hidden{{/if}}">
            <h1 class="content__title">
               {{title}}
            </h1>
         </header>

         {{#checkIfAny @config.post.displayTags @config.post.displayDate}}
            <div class="content__meta">
               {{#if @config.post.displayTags}}
                  <div class="content__tags">
                     {{#if tags}}
                     {{#each tags}}<a href="{{url}}">{{name}}</a>{{/each}}
                     {{/if}}
                  </div>
               {{/if}}
               {{#if @config.post.displayDate}}
                  <div class="content__info">
                     {{ translate 'post.availableSince' }} <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="content__date">
                        {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                           {{date createdAt @config.custom.formatDate}}
                        {{else}}
                           {{date createdAt @config.custom.formatDateCustom}}
                        {{/checkIf}}
                     </time>

                     {{#if @config.post.displayAuthor}}
                        {{#author}}
                           {{ translate 'post.separator' }} <a href="{{url}}" class="content__author">{{name}} </a>
                        {{/author}}
                     {{/if}}
                  </div>
               {{/if}}
            </div>
         {{/checkIfAny}}

         {{#featuredImage}}
            {{#if url}}
               <figure class="content__featured-image">
                  <img
                     src="{{url}}"
                     {{#if @config.site.responsiveImages}}                           
                        {{responsiveImageAttributes 'featuredImage' srcset.img-full sizes.img-full}}
                     {{/if}}
                     {{ lazyload "eager" }}
                     height="{{height}}"
                     width="{{width}}"
                     alt="{{alt}}">
                  {{#checkIfAny caption credits}}
                     <figcaption>
                        {{caption}}
                        {{credits}}
                     </figcaption>                      
                  {{/checkIfAny}}                      
               </figure>
            {{/if}}
         {{/featuredImage}}   

         <div class="content__body content__body--aligned content__entry">
            {{{text}}}            
         </div>

         {{#checkIfAny @config.post.displayLastUpdatedDate @config.post.displayShareButtons}}
            <footer class="content__footer">
                  {{#if @config.post.displayLastUpdatedDate}}
                     {{#if modifiedAt}}
                        <div class="content__updated">
                           {{ translate 'post.specsUpdated' }}
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date modifiedAt @config.custom.formatDate}}
                           {{else}}
                              {{date modifiedAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </div>
                     {{/if}}
                  {{/if}}

                  {{#if @config.post.displayShareButtons}}
                     <div class="content__share"> 
                        <strong>{{ translate 'post.shareOn' }}</strong>
                        {{#checkIfAll @plugins.socialSharing @plugins.socialSharing.state}}
                           {{{@customSocialSharing}}}
                        {{else}}
                           {{> components/share-buttons}}
                        {{/checkIfAll}}   
                     </div>       
                  {{/if}}
            </footer>
         {{/checkIfAny}}
      </article>

      {{#checkIfAny @config.post.afterPost @config.post.displayRelatedPosts}}
         <div class="content-footer">
            {{#if @customHTML.afterPost}}
               <div class="banner banner--after-content">
                  {{{@customHTML.afterPost}}}
               </div>
            {{/if}}

            {{#if @config.post.displayRelatedPosts}}
               {{#if ../relatedPosts}}
                  <div class="related-posts">
                     <div class="wrapper">
                        <header class="section__header{{#if @config.custom.animation}} anim-hidden{{/if}}">
                           <h2>
                              {{ translate 'post.relatedPosts' }}
                           </h2>
                        </header>
                     </div>
                     <div class="section__content grid grid gap-6 
                        {{#checkIf @config.custom.relatedPostsGridLayoutProject '==' "default"}} 
                           md:grid-cols-2
                        {{/checkIf}} 
                        {{#checkIf @config.custom.relatedPostsGridLayoutProject '==' "reverse" }} 
                           md:grid-cols-2
                        {{/checkIf}} 
                        {{#checkIf @config.custom.relatedPostsGridLayoutProject '==' "full" }} 
                           md:grid-cols-1
                        {{/checkIf}} 
                        {{#checkIf @config.custom.relatedPostsGridLayoutProject '==' "all-half" }} 
                           md:grid-cols-2
                        {{/checkIf}}{{#if @config.custom.animation}} anim-hidden{{/if}}">

                        {{#each ../relatedPosts}}
                           {{> content/posts-listing-project layout=@config.custom.relatedPostsGridLayoutProject}}
                        {{/each}}
                     </div>
                  </div>
               {{/if}}
            {{/if}}
         </div>
      {{/checkIfAny}}
   {{/post}}
</main>
{{> layout/footer}}
