{{> layout/head}}
{{> layout/navbar}}
<main class="main content-container content-container--right page page--tag">
   {{#tag}}
      <section class="content">
         <header class="content__header">
            <h1 class="content__title">
               {{name}}
            </h1>
            {{#if tagViewConfig.displayDescription}} 
               {{#if description}}
                  <div>
                     {{{description}}}
                  </div>
               {{/if}}  
            {{/if}}         
         </header>

         {{#checkIfAny tagViewConfig.displayBrowseAllTags tagViewConfig.displayPostCounter}}
            <div class="content__meta">
               {{#if tagViewConfig.displayBrowseAllTags}}
                  <div class="content__meta-link">
                     <a href="{{@website.tagsUrl}}" class="underline">{{ translate "tag.browseAllTags"}}</a>
                  </div>
               {{/if}}

               {{#if tagViewConfig.displayPostCounter}}
                  <div class="content__info content__info--sticky">
                     {{ translate "tag.articlesTagged" postsNumber name}}
                  </div>
               {{/if}}
            </div>
         {{/checkIfAny}}

         {{#if tagViewConfig.displayPostList}}
            <div class="content__body content__body--aligned content__body--decor">
               <div class="grid grid gap-6 gap-y-12 md:gap-y-16 
                  {{#checkIf @config.custom.tagGridLayout '==' "1" }}
                     sm:grid-cols-1
                  {{/checkIf}}

                  {{#checkIf @config.custom.tagGridLayout '==' "2" }}
                     sm:grid-cols-2
                  {{/checkIf}} with--asymmetrical-cards">

                  {{#each ../posts}}
                     {{> content/posts-listing}}
                  {{/each}}
               </div>

               {{> layout/pagination}}
            </div>
         {{/if}}
      </section>
   {{/tag}}
</main>
{{> layout/footer}}
