{{#if @config.custom.socialFacebook}}
  <a href="{{@config.custom.socialFacebook}}">
            {{ translate 'partials.footer.followFacebook' }}
      </a>
{{/if}}
{{#if @config.custom.socialTwitter}}
  <a href="{{@config.custom.socialTwitter}}">
            {{ translate 'partials.footer.followX' }}
      </a>
{{/if}}
{{#if @config.custom.socialInstagram}}
  <a href="{{@config.custom.socialInstagram}}">
            {{ translate 'partials.footer.followInstagram' }}
      </a>
{{/if}}
{{#if @config.custom.socialLinkedin}}
  <a href="{{@config.custom.socialLinkedin}}">
            {{ translate 'partials.footer.followLinkedIn' }}
      </a>
{{/if}}
{{#if @config.custom.socialVimeo}}
  <a href="{{@config.custom.socialVimeo}}">
            {{ translate 'partials.footer.followVimeo' }}
      </a>
{{/if}}
{{#if @config.custom.socialPinterest}}
  <a href="{{@config.custom.socialPinterest}}">
            {{ translate 'partials.footer.followPinterest' }}
      </a>
{{/if}}
{{#if @config.custom.socialYoutube}}
  <a href="{{@config.custom.socialYoutube}}">
            {{ translate 'partials.footer.followYoutube' }}
      </a>
{{/if}}

